
.temp-box{
    min-height: 450px;
    max-width: 320px;
    background: linear-gradient(rgb(164, 166, 219),rgb(171, 181, 228));
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    text-align: center;
    padding: 30px 20px;
    overflow: hidden;
}

.inputField{
    max-width: 75%;
    padding: 10px ;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 20px;
}

.info{
    position: relative;
    bottom: 10px;
}

h1, h2, h3{
    padding: 3px;
}
h1{
    font-size: 2.2em;
    text-transform: capitalize;
}
h2{
    font-size: 1.4em;
}

h3{
    font-size: 0.9em;
    font-weight: 300;
    margin-top: 10px;
}


.cloud{
    display: none;
}
.fa-cloud{
    font-size: 60px;
    color: #efefef;
}

.fa-cloud-sun-rain{
    font-size: 60px;
    animation: locIcon 10s infinite;
}
@keyframes locIcon{
    0%{
        transform: translateX(-20px);
    }
    50%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-20px);
    }

}

.cloud_one,.cloud_two,.cloud_three{
    display: inline-block;
    position: relative;
}
.cloud_one{
    top: 20px;
    animation: cloud1 80s infinite;
}
@keyframes cloud1{
    0%{
        left: -350px;
    }
    100%{
        left: 250px;
    }
}
.cloud_two{
    top: 0px;
    animation: cloud2 50s infinite;
}
@keyframes cloud2{
    0%{
        left: -250px;
    }
    100%{
        left: 300px;
    }
}
.cloud_three{
    animation: cloud3 80s infinite;
}
@keyframes cloud3{
    0%{
        left: -280px;
    }
    100%{
        left: 400px;
    }
}

.cloud_four, .cloud_five, .cloud_six, .cloud_seven, .cloud_eight{
    display: inline-block;
    position: relative;
}

.cloud_four{
    top: -140px;
    animation: cloud4 60s infinite;
}
@keyframes cloud4{
    0%{
        left: -500px;
    }
    100%{
        left: 300px;
    }
}

.cloud_five{
    animation: cloud5 50s infinite;
}
@keyframes cloud5{
    0%{
        left: -350px;
    }
    100%{
        left: 350px;
    }
}

.cloud_six{
    top: -10px;
    animation: cloud6 60s infinite;
}
@keyframes cloud6{
    0%{
        left: -250px;
    }
    100%{
        left: 300px;
    }
}
.cloud_seven{
    top: -20px;
    animation: cloud7 100s infinite;
}
@keyframes cloud7{
    0%{
        left: -350px;
    }
    100%{
        left: 250px;
    }
}
.cloud_eight{
    top: 0px;
    animation: cloud8 120s infinite;
}
@keyframes cloud8{
    0%{
        left: -300px;
    }
    100%{
        left: 350px;
    }
}

